### Summary:
    - {{summaryPlaceholder}}
{{#argsExist}}

### Args:
{{/argsExist}}
{{#args}}
    - `{{typePlaceholder}}` {{var}}: {{descriptionPlaceholder}}
{{/args}}
{{#kwargsExist}}

### Optional Args:
{{/kwargsExist}}
{{#kwargs}}
    - `{{typePlaceholder}}` {{var}}: {{descriptionPlaceholder}}
{{/kwargs}}
{{#returnsExist}}

### Returns:
{{/returnsExist}}
{{#returns}}
    - `{{typePlaceholder}}`: {{descriptionPlaceholder}}
{{/returns}}
